/******************************************************
    Core Formats
******************************************************/
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

    * {
        box-sizing: border-box;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    :root {
        --bg-cta-cyan: hsl(176, 68%, 64%);
        --bg-cta-blue: hsl(198, 60%, 50%);
        --bg-footer-darkblue: hsl(216, 53%, 9%);
        --bg-intro-email-darkblue: hsl(217, 28%, 15%);
        --bg-main-darkblue: hsl(218, 28%, 13%);
        --bg-testmonials-darkblue: hsl(219, 30%, 18%);
    }

    html {
        font-family: Raleway;
        font-size: 14px;

    }

    body {
        background-color: var(--bg-main-darkblue);
        color: white;
    }


/******************************************************
    Mobile Layout
******************************************************/
/*
** Common Formats
*/
    #wrapper {
        background-color: var(--bg-intro-darkblue);
        padding: 5vh 2vw;
        margin: auto;
        max-width: 90%;
        text-align: center;

        /* border: 1px solid red; */
    }

        a {
            color: white;
            text-decoration: none;
        }

        p {
            font-family: "Open Sans";
            font-size: 1rem;
            line-height: 1.8rem;
        }


        .btn {
            background-image: linear-gradient(to right, var(--bg-cta-cyan), var(--bg-cta-blue)) ;
            border: none;
            border-radius: 3vh;
            color: white;
            cursor: pointer;
            display: inline-block;
            font-weight: 600;
            line-height: 3rem;
            min-width: 170px;
            max-width: 300px;
            width: 100%;
            transition: .3s;
        }

        .btn:hover, .btn:active {
            background-image: linear-gradient(to left, var(--bg-cta-blue), var(--bg-cta-blue));
            transition: .3s;
        }

        .insert-email {
            border: none;
            border-radius: 3rem;
            color: rgba(0,0,0,.5);
            line-height: 3rem;
            padding-left: 2vh;
            width: 100%;
        }

    /*
    ** Top Navbar
    */
        #navbar {
            background-color: rgba(0,0,0,.8);
            position: fixed;
            height: 4rem;
            width: 100%;
            z-index: 999;

            /* border: 1px solid red; */
        }    

        .top {
            position: relative;
        }    

        .top ul{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            position: absolute;
            top: 1.5rem;
            right: 1rem;
        }

        .top ul li {
            padding-left: 2vh;        

        }

        #navbar .top ul a {
            transition: .3s;
        }

        #navbar .top ul a:hover {
            font-weight: 700;
            font-size: 1.1rem;
            transition: .3s;
        }


        .logo img{
            position: absolute;
            top: 15px;
            left: 5vw;
            width: 100px;
        }

    /*
    ** Intro
    */
        #intro {
            margin: auto;
            max-width: 620px;
            margin-top: -15vw;


            /* border: 1px solid red; */
        }

        .curvy {
            position: relative;
            top: 330px;
            left: 20px;
            z-index: -10;
        }

        #intro img {
            width: 100%;
            /* max-width: 480px; */
        }

        #intro h1 {
            font-size: 1.6rem;
            line-height: 2.5rem;
            margin: 3vh 0;
        }

        #intro p {
            margin-bottom: 4vw;
        }



    /*
    ** Cards
    */
        #cards {
            margin: 15vh auto;
        }

        #card1, #card2, #card3, #card4  {
            margin: 5rem auto;
            max-width: 350px;

            /* border: 1px solid red; */
        }

        #cards h3 {
            margin-bottom: 2vh;
        }

        #card1 img, #card2 img, #card3 img, #card4 img  {
            margin-bottom: 2vh;
            max-width: 80px;
            max-height: 80px;
        }


    /*
    ** Productive
    */

        #productive * {
            text-align: left;
        }

        #productive img#workflow {
            margin-top: 4vw;
            margin-bottom: 15rem;
            width: 90%;
            max-width: 480px;
            
            /* border: 1px solid; */
        }

        #productive h3 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            
            /* border: 1px solid; */
        }

        #productive p {
            font-size: .9rem;
        }


        #productive a {
            border: 1px solid var(--bg-main-darkblue);
            border-radius: 5vh;
            color: var(--bg-cta-cyan);
            display: flex;
            margin-top: 1rem;
            margin-bottom: 10rem;
            max-width: 170px;
            padding: .5rem 1rem; 
            transition: .3s;
        }

        #productive a:hover, #productive a:active {
            border: 1px solid var(--bg-cta-cyan);
            border-radius: 5vh;
            color: var(--bg-cta-cyan);
            transition: .3s;
        }

        #productive a img#arrow {
            margin-left: 5px;
            width: 20px;
        }

    /*
    ** Reviews
    */
        #reviews {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 2rem;
            margin-bottom: 15rem;
            margin: auto;
            padding: 1rem;
            position: relative;
            text-align: left;

            /* border: 1px solid red; */
        }

        #reviews .profile img {
            border-radius: 2rem;
            height: 30px;
            width: 30px;
        }

        #reviews p {
            font-size: .8rem;
            margin-bottom: 1rem;
        }

        .profile {
            display: flex;
            margin-top: 10px;
        }

        .details {
            margin-left: 10px;
        }

        .status {
            font-size: .7rem;
            font-weight: 400;
            
        }

        #card5, #card6, #card7 {
            background-color: var(--bg-testmonials-darkblue);
            border-radius: 1rem;
            padding: 1.5rem;
        }

        .quotes {
            position: absolute;
            top: -5px;
            left: 15px;
            width: 23px;
            z-index: 50;
        }



    /*
    ** Footer
    */
        footer {
            background-color: var(--bg-footer-darkblue);
            margin-top: 20vw;
        }

        .footer-info {
            margin: 0 auto;
            width: 90%;
        }
        
        
        /*
        ** Call To Action
        */
            .CTA {
                background-color: var(--bg-testmonials-darkblue);
                border-radius: 1rem;
                margin: auto;
                padding: 3rem 2.5rem;
                position: relative;
                bottom: 80px;
                width: 90%;
                max-width: 720px;
            }


            .CTA p {
                font-size: 1rem;
                margin: 2rem 0;
            }

            .insert-email{
                color: black;
                margin-bottom: 1rem;
            }

        /*
        ** Footer info
        */
            .footer-info {
                margin-top: -5vw;
                padding-left: 1rem;
            }


    /*
    ** Final Links
    */
        .footer-links * {
            margin: 0;
            padding: 0;
        }

        .footer-links li {
            margin: 2rem 1rem;
        }

        .footer-links a {
            transition: .3s;
        }

        .footer-links a:hover {
            font-weight: 700;
            font-size: 1.1rem;
            transition: .3s;
        }


        /*
        ** Contacts
        */  
            .logo-footer {
                display: block;
            }

            .icon {
                display: flex;
                margin-top: 2rem;
            }

            .icon img {
                height: 21px;
                margin-right: 1.5rem;
            }


        /*
        ** About Us
        */
            .about-us {
                margin: 5rem 0;
            }

            .about-us {
                margin: 5rem 0;
            }


        /*
        ** Social Media
        */
            .social-media {        
                margin: 0 auto;
                width: fit-content;
            }

            .social-media ul {
                display: flex;
            }

            .social-media svg path {
                fill: white;
            }

            .social-media a:hover > svg path {
                fill: var(--bg-cta-cyan);
            } 








/******************************************************
    Tablet Layout
******************************************************/
    @media (min-width: 640px) {

        /*
        ** Intro
        */
            #intro h1 {
                font-size: 2rem;
            }

            #intro p {
                margin: auto;
                margin-bottom: 3vh;
                max-width: 500px;
            }

            #intro .btn {
                max-width: 300px;
            }
        
        
        /*
        ** Cards
        */
            #cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;
                max-width: 1100px;

            }
            

        /*
        ** Productive 
        */
            #productive * {
                text-align: center;
            }

            #productive h3 {
                font-size: 1.8rem;
                margin-bottom: 2rem;
            }

            #productive p {
                font-size: 1rem;
                margin: auto;
                max-width: 550px;
            }

            #productive a {
                margin: 2vh auto;
                margin-bottom: 20vh;
                max-width: 210px;
            }

            #reviews h5 {
                font-size: .9rem;
            }

            #reviews p {
                font-size: 1rem; 
            }

        /*
        ** Footer
        */
            .final-links {
                display: flex;
            }
            
            .about-us {
                margin: 3rem auto;
                width: fit-content;
            }

            .contact-us {
                margin: 3rem auto;
                width: fit-content;
            }

            .social-media {
                margin: 3rem auto;
            }
    }


@media (min-width: 900px) {

    #productive {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #productive * {
        text-align: left;
    }

    #productive img#workflow {
        margin-top: 0;
        margin-right: 2rem;
        
    }

/*
** Footer
*/
    .footer-links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        margin: 3rem 0;
    }
    
    .about-us {
        margin: 0 auto;
        width: fit-content;
    }

    .contact-us {
        margin: 0 auto;
        width: fit-content;
    }

    .social-media {
        margin: 0 auto;
    }

}